<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.DoVideoMapper">

	<resultMap id="doVideoMap" type="com.pig4cloud.pig.admin.api.entity.DoVideo">
		<id property="vid" column="vid"/>
		<result property="createTime" column="create_time"/>
		<result property="lineSource" column="line_source"/>
		<result property="fileName" column="file_name"/>
		<result property="filePath" column="file_path"/>
		<result property="eventTime" column="event_time"/>
		<result property="confirmTime" column="confirm_time"/>
		<result property="confirmUser" column="confirm_user"/>
		<result property="fileStatus" column="file_status"/>
		<result property="remark" column="remark"/>
	</resultMap>
	<select id="getListByFileNameAndVdTypeAndVdStatus" resultMap="doVideoMap"
			parameterType="com.pig4cloud.pig.admin.api.dto.VideoDTO">
		select
		*
		from do_video dv
		where dv.vid in
		(select vid from do_video_detail dvb
		where dv.vid = dvb.vid
		<!--		<if test="videodto.vdType != null and videodto.vdType != ''">-->
		<!--			and dvb.vd_type = #{videodto.vdType,jdbcType=VARCHAR}-->
		<!--		</if>-->
		<trim prefix="and (" suffix=")" suffixOverrides="and | or">
			<foreach collection="videodto.vdType" item="item">
				<if test="videodto.vdType != null and videodto.vdType.size()>0">
					dvb.vd_type=#{item} or
				</if>
			</foreach>
		</trim>
		<if test="videodto.vdStatus != null">
			and dvb.vd_status = #{videodto.vdStatus,jdbcType=TINYINT}
		</if>
		)
		<if test="videodto.fileName != null and videodto.fileName != ''">
			and dv.file_name like concat ('%',#{videodto.fileName,jdbcType=VARCHAR},'%')
		</if>
		order by dv.file_name,dv.create_time desc
	</select>
</mapper>
